<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('../partials/head') -%>
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
  </head>
  <body class="body__index">
    <%- include('../partials/header') -%>

    <!-- START Slider Flickity -->
    <div class="main-carousel" data-flickity='{ "contain": true }'>
      <div class="carousel-cell">
        <img src="/img/slider/slider2.webp" alt="" />
      </div>
      <div class="carousel-cell">
        <img src="/img/slider/slider3.webp" alt="" />
      </div>
      <div class="carousel-cell">
        <img src="/img/slider/slider4.webp" alt="" />
      </div>
    </div>
    <!-- ENDS Slider Flickity -->
    <!-- START MAIN Content -->
    <main class="main__index">
      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <span class="title"><%= games[0].platform %> Games</span>
        </div>

        <% // prettier-ignore %>
        <div class="cards__container">
          <% games.forEach(function(games){ %> <%- include('gamesCard', {games})
          %> <% }); %>
        </div>
      </section>
      <!-- ENDS MAIN Content -->
      <!-- START Services Content -->
      <section class="services">
        <div class="services__card">
          <div class="services__info">
            <h3>Great Value</h3>
            <span>
              We offer competitive prices on our 100 million plus product range.
            </span>
          </div>
          <div class="services__icon">
            <img src="/img/services/icon1.png" alt="" />
          </div>
        </div>

        <div class="services__card">
          <div class="services__info">
            <h3>Worldwide Delivery</h3>
            <span>
              With sites in 5 languages, we ship to over 200 countries &
              regions.
            </span>
          </div>
          <div class="services__icon">
            <img src="/img/services/icon2.png" alt="" />
          </div>
        </div>

        <div class="services__card">
          <div class="services__info">
            <h3>Safe Payment</h3>
            <span>
              Pay with the world’s most popular and secure payment methods.
            </span>
          </div>
          <div class="services__icon">
            <img src="/img/services/icon3.png" alt="" />
          </div>
        </div>

        <div class="services__card">
          <div class="services__info">
            <h3>Shop Whith Confidence</h3>
            <span>
              Our Buyer Protection covers your purchase from click to delivery.
            </span>
          </div>
          <div class="services__icon">
            <img src="/img/services/icon4.png" alt="" />
          </div>
        </div>

        <div class="services__card">
          <div class="services__info">
            <h3>24/7 Help Center</h3>
            <span>
              Round-the-clock assistance for a smooth shopping experience.
            </span>
          </div>
          <div class="services__icon">
            <img src="/img/services/icon5.png" alt="" />
          </div>
        </div>
      </section>
      <!-- ENDS Services Content -->
    </main>
    <%- include('../partials/footer') -%>
  </body>
</html>
