<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head') -%>
    <link rel="stylesheet" href="./css/index.css" type="text/css" />
  </head>

  <%- include('partials/header') -%>

  <body class="body__index">
    <main class="main__index">
      <div class="slider">
        <img src="./img/slider/template-90.webp" alt="" />
      </div>
      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <span>Mas vendidos</span>
        </div>

        <div class="cards__container">
          <% products.forEach(function(products){ %> <%-
          include('partials/mainCard', {products}) %> <% }); %>
        </div>
      </section>

      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <span>Mas Valorados</span>
        </div>

        <div class="cards__container">
          <% products.forEach(function(products){ %> <%-
          include('partials/mainCard', {products}) %> <% }); %>
        </div>
      </section>
    </main>
    <%- include('partials/footer') -%>
  </body>
</html>
