<!DOCTYPE html>
<html lang="es">
<!-- START Head Content -->
<%- include('partials/head') -%>

  <body class="body__index">
    <!-- START Header Content -->
    <%- include('partials/header') -%>

      <!-- START Slider Flickity -->
      <%- include('partials/slider') -%>
        <!-- START MAIN Content -->
        <main class="main__index">
          <section class="gameList__wrapper">
            <div class="gameList__title">
              <span class="gameList__span__title">
                <%= gamesPc[0].platform %> Games
              </span>
            </div>

            <div class="cards__container">
              <% gamesPc.forEach(function(games){ %>
                <%- include('partials/mainCard', {games}) %>
                  <% }); %>
            </div>
          </section>

          <section class="gameList__wrapper">
            <div class="gameList__title">
              <span class="gameList__span__title">
                <%= gamesPs4[0].platform %> Games
              </span>
            </div>

            <div class="cards__container">
              <% gamesPs4.forEach(function(games){ %>
                <%- include('partials/mainCard', {games}) %>
                  <% }); %>
            </div>
          </section>

          <section class="gameList__wrapper">
            <div class="gameList__title">
              <span class="gameList__span__title">
                <%= gamesPs5[0].platform %> Games
              </span>
            </div>

            <div class="cards__container dragscroll">
              <% gamesPs5.forEach(function(games){ %>
                <%- include('partials/mainCard', {games}) %>
                  <% }); %>
            </div>
          </section>

          <section class="gameList__wrapper">
            <div class="gameList__title">
              <span class="gameList__span__title">
                <%= gamesXbox[0].platform %> Games
              </span>
            </div>

            <div class="cards__container">
              <% gamesXbox.forEach(function(games){ %>
                <%- include('partials/mainCard', {games}) %>
                  <% }); %>
            </div>
          </section>

          <section class="gameList__wrapper">
            <div class="gameList__title">
              <span class="gameList__span__title">
                <%= gamesWiiu.platform %> Games
              </span>
            </div>

            <div class="cards__container">
              <% gamesWiiu.forEach(function(games){ %>
                <%- include('partials/mainCard', {games}) %>
                  <% }); %>
            </div>
          </section>

          <section class="gameList__wrapper">
            <div class="gameList__title">
              <span class="gameList__span__title">
                <%= gamesSwitch.platform %> Games
              </span>
            </div>

            <div class="cards__container">
              <% gamesSwitch.forEach(function(games){ %>
                <%- include('partials/mainCard', {games}) %>
                  <% }); %>
            </div>
          </section>
          <!-- ENDS MAIN Content -->
          <!-- START Services Content -->
          <%- include('partials/services-section') -%>
        </main>
        <!-- START Footer Content -->
        <%- include('partials/footer') -%>
  </body>

</html>