<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('partials/head') -%>
  </head>
  <body class="body__index">
    <!-- START Header Content -->
    <%- include('partials/header') -%>

    <!-- START Slider Flickity -->
    <%- include('partials/slider') -%>
    <!-- START MAIN Content -->
    <main class="main__index">
      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <span class="title"><%= gamesPc[0].platform %> Games</span>
        </div>

        <div class="cards__container dragscroll">
          <% gamesPc.forEach(function(games){ %> <%-
          include('partials/mainCard', {games}) %> <% }); %>
        </div>
      </section>

      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <span class="title"><%= gamesPs4[0].platform %> Games</span>
        </div>

        <div class="cards__container">
          <% gamesPs4.forEach(function(games){ %> <%-
          include('partials/mainCard', {games}) %> <% }); %>
        </div>
      </section>

      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <span class="title"><%= gamesPs5[0].platform %> Games</span>
        </div>

        <div class="cards__container dragscroll">
          <% gamesPs5.forEach(function(games){ %> <%-
          include('partials/mainCard', {games}) %> <% }); %>
        </div>
      </section>

      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <span class="title"><%= gamesXbox[0].platform %> Games</span>
        </div>

        <div class="cards__container">
          <% gamesXbox.forEach(function(games){ %> <%-
          include('partials/mainCard', {games}) %> <% }); %>
        </div>
      </section>

      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <span class="title"><%= gamesWiiu.platform %> Games</span>
        </div>

        <div class="cards__container">
          <% gamesWiiu.forEach(function(games){ %> <%-
          include('partials/mainCard', {games}) %> <% }); %>
        </div>
      </section>

      <section class="bestseller__wrapper">
        <div class="bestseller__title">
          <span class="title"><%= gamesSwitch.platform %> Games</span>
        </div>

        <div class="cards__container">
          <% gamesSwitch.forEach(function(games){ %> <%-
          include('partials/mainCard', {games}) %> <% }); %>
        </div>
      </section>
      <!-- ENDS MAIN Content -->
      <!-- START Services Content -->
      <%- include('partials/services-section') -%>
    </main>
    <!-- START Footer Content -->
    <%- include('partials/footer') -%>
  </body>
</html>
