<div class="game__card__item">
  <div class="game__card__img">
    <a href="/products/<%= games.id %>">
      <img src="<%= games.backgroundImage %>" alt="<%= games.name %>" />
    </a>
  </div>
  <div class="game__card__content">
    <div class="game__card__title">Name:<%= games.name %></div>
    <div class="game__card__description">
      Description:<%= games.description %>
    </div>
    <div class="game__card__platform">Platform:<%= games.platform %></div>
    <div class="game__card__released">Released:<%= games.released %></div>
    <div class="game__card__rating">Rating:<%= games.rating %></div>
    <div class="game__card__metacritic">Metacritic:<%= games.metacritic %></div>
    <div class="game__card__esrb">Esrb:<%= games.esrbRating %></div>
    <div class="game__card__price">Price:<%= games.price %></div>
    <div>
      <a href="/dashboard/edit/<%= games.id %>">
        <i class="far fa-edit"></i>
      </a>
      <a href="/dashboard/delete/<%= games.id %>">
        <i class="far fa-trash-alt"></i>
      </a>
    </div>
  </div>
</div>
