<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') -%>

  <body>
    <%- include('../partials/header') -%>

      <main class="main__register">
        <div class="erroresRegister">
          <ul>
          </ul>
        </div>
        <% if (locals.errors) { %>
          <% for( let error in errors ) { %>
            <span class="form__errors"><i class="fas fa-exclamation-triangle form__alert"></i>
              <%= errors[error].msg %>
            </span>
            <% } %>
              <% } %>
                <div class="card__register">
                  <div class="form__title"><span>Create your Account</span>
                  </div>

                  <form class="form__register" action="/user/register" method="POST" enctype="multipart/form-data">
                    <div class="firstname">
                      <label for="firstName">First Name</label>
                      <input type="text" name="firstName" tabindex="13" value="<%= locals.old && old.firstName %>"
                        autofocus />
                    </div>
                    <div class="lastname">
                      <label for="lastName">Last Name</label>
                      <input type="text" name="lastName" tabindex="14" value="<%= locals.old && old.lastName %>" />
                    </div>
                    <div class="email">
                      <label for="email">Email</label>
                      <input type="email" name="email" tabindex="15" value="<%= locals.old && old.email %>" />
                    </div>
                    <div class="password">
                      <label for="password">Password</label>
                      <input type="password" name="password" tabindex="16" />
                    </div>
                    <div class="form__terms">
                      <input type="checkbox" id="terms" name="terms" value="accept" tabindex="17" />
                      <label for="terms">I agree with the terms and conditions</label>
                    </div>

                    <button type="submit" class="button__register" tabindex="18">
                      Register
                    </button>
                  </form>
                  <div class="form__gologin">
                    <span>Already Registered?</span>
                    <a href="/user/login" tabindex="19">Login</a>
                  </div>
                </div>
      </main>
      <%- include('../partials/footer') -%>
        <script src="/js/register.js"></script>
  </body>

</html>