<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {data: 'register'}) -%>

    <body>
        <%- include('../partials/header') -%>

        <main class="main__register">
            <div class="card__register">
                <div class="form__title"><span>Create your Account</span></div>

                <form
                    class="form__register"
                    action="/user/createuser"
                    method="POST"
                    enctype="multipart/form-data"
                >
                    <div>
                        <label for="firstname">First Name</label>
                        <input
                            type="text"
                            id="firstname"
                            name="firstname"
                            tabindex="13"
                            value="<%= locals.old && old.firstname %>"
                            autofocus
                        />
                        <ul class="fn-errors form__errors__ul">
                            <% if (locals.errors && errors.firstname) { %>
                            <li class="form__errors">
                                <i
                                    class="fas fa-exclamation-triangle form__alert"
                                >
                                </i>
                                <%= errors.firstname.msg %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <div>
                        <label for="lastname">Last Name</label>
                        <input
                            type="text"
                            id="lastname"
                            name="lastname"
                            tabindex="14"
                            value="<%= locals.old && old.lastname %>"
                        />
                        <ul class="ln-errors form__errors__ul">
                            <% if (locals.errors && errors.lastname) { %>
                            <li class="form__errors">
                                <i
                                    class="fas fa-exclamation-triangle form__alert"
                                >
                                </i>
                                <%= errors.lastname.msg %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <div>
                        <label for="email">Email</label>
                        <input
                            type="email"
                            id="email"
                            name="email"
                            tabindex="15"
                            value="<%= locals.old && old.email %>"
                        />
                        <ul class="e-errors form__errors__ul">
                            <% if (locals.errors && errors.email) { %>
                            <li class="form__errors">
                                <i
                                    class="fas fa-exclamation-triangle form__alert"
                                >
                                </i>
                                <%= errors.email.msg %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <div>
                        <label for="password">Password</label>
                        <input
                            type="password"
                            id="password"
                            name="password"
                            tabindex="16"
                        />
                        <ul class="pass-errors form__errors__ul">
                            <% if (locals.errors && errors.password) { %>
                            <li class="form__errors">
                                <i
                                    class="fas fa-exclamation-triangle form__alert"
                                >
                                </i>
                                <%= errors.password.msg %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <div>
                        <label for="passwordC">Repeat Password</label>
                        <input
                            type="password"
                            id="passwordC"
                            name="passwordC"
                            tabindex="17"
                        />
                        <ul class="passc-errors form__errors__ul">
                            <% if (locals.errors && errors.passwordC) { %>
                            <li class="form__errors">
                                <i
                                    class="fas fa-exclamation-triangle form__alert"
                                >
                                </i>
                                <%= errors.passwordC.msg %>
                            </li>
                            <% } %>
                        </ul>
                    </div>
                    <div>
                        <label for="avatar">Upload Avatar</label>
                        <input
                            type="file"
                            name="avatar"
                            accept="image/png, image/jpeg"
                            tabindex="18"
                        />
                    </div>
                    <div class="form__terms">
                        <input
                            type="checkbox"
                            id="terms"
                            name="terms"
                            value="accept"
                            tabindex="19"
                        />
                        <label for="terms">
                            I agree with the terms and conditions
                        </label>
                    </div>
                    <ul class="passc-errors form__errors__ul">
                        <% if (locals.errors && errors.terms) { %>
                        <li class="form__errors">
                            <i class="fas fa-exclamation-triangle form__alert">
                            </i>
                            <%= errors.terms.msg %>
                        </li>
                        <% } %>
                    </ul>

                    <button
                        type="submit"
                        class="button__register"
                        tabindex="20"
                    >
                        Register
                    </button>
                </form>
                <div class="form__gologin">
                    <span>Already Registered?</span>
                    <a href="/user/login" tabindex="21">Login</a>
                </div>
            </div>
        </main>
        <%- include('../partials/footer') -%>
        <script src="/js/register.js"></script>
    </body>
</html>
